.orders-container {
    display: flex;
  }
  
  .orders-main {
    flex: 1;
    padding: 20px;
    background-color: #f5f7fa;
    /* margin-left: 300px; */
    margin-top: 20px;
  }
  
  .orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }
  .orders-header h1 {
    font-size: 24px;
    color: #333;
}
.orders-header p {
  color: #888;
}
  .orders-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filter-btn,
  .export-btn, .add-btn {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table th,
  .orders-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .orders-table th {
    background-color: #f9fafb;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-info img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .payment.paid {
    color: #48bb78;
    font-weight: bold;
  }
  
  .payment.pending {
    color: #eab308;
    font-weight: bold;
  }
  
  .status.delivered {
    color: #48bb78;
  }
  
  .status.processing {
    color: #eab308;
  }
  
  .status.delivering {
    color: #4a90e2;
  }
  
  .edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
  }
  