/* Card */
.card {
    background-color: white;
    padding: 20px;
    min-width: 180px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  .title-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .card-title {
    color: #4a5568;
    font-size: 16px;
    margin-right: 10px;
    
  }
  
  .card-value {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-change {
    font-size: 12px;
  }
  
  .card-change.green {
    color: #48bb78;
  }
  
  .card-change.red {
    color: #f56565;
  }
  
  .card-icon {
    /*font-size: 30px;
    */color: #fdfdfd;
    padding: 5px;
    background-color:#f56565 ;
    border-radius: 50%;
  }
  