.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px 20px; */
    background-color: #f5f5f5;
    width: 100%;
    
  }

  

  .profile-ntn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
  }
  
  
  
  .notification-btn {
    background-color: #edf2f7;
    padding: 10px;
    border-radius: 50%;
    border: none;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-text {
    display: flex;
    flex-direction: column; /* Stack name and role */
    line-height: 1.2;
}

.profile-text p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.profile-text span {
    font-size: 14px;
    color: gray;
    margin-top: 2px;
}
  .header-down {
    display: flex;
    align-items: center;
    gap: 15px;
    color:black;
    justify-content: space-between;
    padding: 0px 20px ;
    
  }
  .weekly {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }