.product-summary-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .product-summary-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .chart-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto; /* Center the chart horizontally */
  }
  
  .chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: #4a4a4a;
    text-align: center; /* Ensure text alignment is centered */
        
  }
  
  
  .summary-details {
    display: flex;
    justify-content: space-evenly;
  }
  
  .summary-details div {
    text-align: center;
  }
  
  .summary-details h4 {
    font-size: 20px;
    color: #7c3aed;
    margin: 5px 0;
  }
  
  .summary-details p {
    font-size: 14px;
    color: gray;
  }
  