/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat as the only font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(231, 223, 223);
  padding: 0;
  /* overflow: hidden; */
}

code {
  font-family: 'Montserrat', monospace; /* Optional if you want Montserrat for code as well */
}
